.gl-container {
    padding-top: 50px;
    padding-bottom: 55px;

    @include respond-to(min-lg) {
        padding-top: 54px;
        padding-bottom: 25px;
    }

    .item-video {
        .time-status {
            background: rgba(0, 0, 0, 0.35);
            opacity: .5;

            @include respond-to(max-md) {
                opacity: 1;
            }
        }

        &:hover .time-status {
            opacity: 1;
        }
    }
}

.gl-container.gl-wrap--padding-left {
    @include respond-to(min-lg) {
        padding-left: 250px !important;
    }
}

.gl-news {
    img {
        max-width: 700px !important;
        margin: 15px auto;
        display: block;
    }
}

.terms-of-use {
    .col-12>ul {
        &>li {
            &>div {
                font-size: 15px;
                margin: 0.5em 0;

                @include respond-to(max-md) {
                    font-size: 11px;
                }
            }

            ul.list-style-type-upper-alpha {
                font-size: 15px;

                @include respond-to(max-md) {
                    font-size: 11px;
                }
            }

            ul.list-style-type-square {
                font-size: 13px;

                @include respond-to(max-md) {
                    font-size: 9px;
                }
            }
        }
    }
}