.loginTop{
    height: 100px;
}

.loginBetween{
    img{
        width: 150px;
        height: 50px;
    }
    .editPosition{
        position: relative;
        .editEye{
            cursor: pointer;
            position: absolute;
            top: 27%;
            right: 5px;
        }
    }
}

